.main{
    width: 100%;
    height: calc(100vh - 100px);
}

.scroll{
    overflow: hidden;
}

.contact-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff5c;
    box-shadow: 0 0 10px 5px rgb(255 255 255);
    border-radius: 8px;
    animation: introentranceR;
    animation-duration: 2s;
}

.contact-container h2 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 600;
}


.contact-list {
    width: 100%;
    list-style: none;
    display: flex;
    height: inherit;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
}

.contact-list li {
    margin: 10px 0;
}

.contact-list a {
    color: #a1deff;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 20px;
    font-weight: 400;
}

.contact-list a:hover {
    color: #cce7f5;
}

.contact-list i {
    margin: 0px 10px;
    color: #555;
}

@media only screen and (max-width: 790px) {
    .contact-container{
         max-width: 90%;
         margin: 50px auto;
    }
    .scroll{
        overflow-y: scroll;
    }
}