.main {
  width: 100%;
  height: calc(100vh - 100px);
}

.container {
  max-width: 100%;
  animation: introentranceU;
  animation-duration: 2s;
  display: grid;
  color: #ffffffe0;
  grid-template-columns: repeat(3, 1fr);
}

.porject-card {
  max-width: 300px;
  background-color: #ffffff38;
  border-radius: 10px;
  margin: 20px auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 0px 10px 2px #f6f5f7c4;
}

.porject-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  padding: 3px;
  border: 5px solid #ffffff38;
}

.porject-card .content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.scroll {
  overflow-x: hidden;
  overflow-y: scroll;
}

.porject-card .buttons {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  padding: 10px;
}

.porject-card .buttons button {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: #ffffff38;
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  margin: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 790px) {
  .container {
    width: 100%;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
  }
  .porject-card {
    width: 100%;
    margin:10px auto;
    box-shadow: 0px 0px 5px 2px #f6f5f7c4;
  }
}

@media only screen and (max-width: 650px) {
  .container{
    grid-template-columns: repeat(1,1fr);
  }
}